/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.auth-form {
    background-color: white;
    border-color: black;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}
.close {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.close :hover {
    color:darkgray;
}
.customLook {
    --tag-bg: #0052BF;
    --tag-hover: #CE0078;
    --tag-text-color: #FFF;
    --tags-border-color: silver;
    --tag-text-color--edit: #111;
    --tag-remove-bg: var(--tag-hover);
    --tag-pad: .6em 1em;
    --tag-inset-shadow-size: 1.3em;
    --tag-remove-btn-bg--hover: black;
    display: inline-block;
    width: auto;
    border: none;
}

    .customLook .tagify__tag {
        margin-top: 0;
    }

        .customLook .tagify__tag > div {
            border-radius: 25px;
        }

        /* Do not show the "remove tag" (x) button when only a single tag remains */
        .customLook .tagify__tag:only-of-type .tagify__tag__removeBtn {
            display: none;
        }

    .customLook .tagify__tag__removeBtn {
        opacity: 0;
        transform: translateX(-6px) scale(.5);
        margin-left: -3ch;
        transition: .12s;
    }

    .customLook .tagify__tag:hover .tagify__tag__removeBtn {
        transform: none;
        opacity: 1;
        margin-left: -1ch;
    }

    .customLook + button {
        color: #0052BF;
        font: bold 1.4em/1.65 Arial;
        border: 0;
        background: none;
        box-shadow: 0 0 0 2px inset currentColor;
        border-radius: 50%;
        width: 1.65em;
        height: 1.65em;
        cursor: pointer;
        outline: none;
        transition: .1s ease-out;
        margin: 0 0 0 5px;
        vertical-align: top;
    }

        .customLook + button:hover {
            box-shadow: 0 0 0 5px inset currentColor;
        }

    .customLook .tagify__input {
        display: none;
    }

.customerTooltip {
    display: none;
    position: absolute;
    min-width: 40%;
}