@model PostgresTest.ViewModels.LoginViewModel
    <div class="row justify-content-center center-position">
        <div class="conteiner-md justify-content-center auth-form">
            <form method="post" asp-controller="Account" asp-action="Login" class="justify-content-center">
                <div class="row m-3 justify-content-center">
                    <div class="container-fluid">
                        <h2>Log In</h2>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row mb-3 justify-content-center align-items-center">
                    <label class="col-4 control-label">Name</label>
                    <div class="col-7">
                        <input class="form-control" placeholder="Login" asp-for="Name">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center align-items-center">
                    <label class="col-4 control-label">Password</label>
                    <div class="col-7">
                        <input class="form-control" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center align-items-center">
                    <div class="row mb-3">
                        <a asp-controller="Account" asp-action="Signin">Sign In</a>
                    </div>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-offset-2 col-9">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </form>
            <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" class="justify-content-center">
                
                <div class="row mb-3 justify-content-center">
                    @foreach (var provider in Model.ExternalLogins) { 
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                            title="Login using @provider.DisplayName">
                        @provider.DisplayName
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
